.activitiesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 0;
    gap: 5vh;
    /* border: 1px solid red; */
}

.cardActivity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid #fff;
    border-radius: 20px; 
    width: 240px;
    min-height: 320px;
}

.cardActivity-p{
    min-height: 120px;
    width: 240px;
    padding: 2vh;
    text-align: center;
    /* font-family: 'Pangea Text, Helvetica,Arial,sans-serif'; */
    font-family: "Zilla Slab Highlight cursive";
    font-weight: bold;
    /* background-color: rgba(46, 47, 48, 0.9); */
    /* background-color: white; */
    /* color: #000; */
    border-radius: 20px 20px 0 0;
}

.cardActivity-img{
    height: 200px;
    width: 240px;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
}

.cardActivity-img>img{
    height: 200px;
    width: 240px;
    border-radius: 0 0 20px 20px;
    object-fit: cover;
}