.Arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
}
.Arrow-button {
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    font-size: 4vh;
    padding: 6px 5px 0 5px;
}
.Arrow-button:hover{
    color: rgb(255, 229, 80);
    background-color: black;
}