
.BasePage-Container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(112, 86, 59);
    font-size: 1.2rem;
    color: white;
    font-family: Pangea Text,Helvetica,Arial,sans-serif;
    font-size: 24px;

    background-image: url(https://img.freepik.com/foto-gratis/brujula-cerca-mapas-antiguos_23-2147793492.jpg?w=1380&t=st=1660864115~exp=1660864715~hmac=96b076949c06dfa159de84579283575e50d37db25ed233fe10f5b523d478e261);
    background-position: 50% 47%;
    background-size: cover;
    background-attachment: fixed;
}

.BasePage-Main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}