.Footer{
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 3vh;
    padding: 3vh;
    color: #fff;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0, 0, 0, 0.23);
}

.memberContainer{
    height: 4.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    gap: 2vh;
}

.memberContainer:visited{
    color: #fff;
}

@media (max-width: 800px) {
    .Footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}