.NewItyn-container{
    background-color: #00000094;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    min-width: 290px;
    max-width: 800px;
    border-radius: 50px;
    padding: 5vh 3vh;
    margin: 14vh 0 3vh 0;
    gap: 20px;
}

.NewItin-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}