header{
    height: 9vh;
    display: grid;
    grid-template-columns: minmax(min-content, 900px) minmax(200px, 1fr) 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 15;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    backdrop-filter: blur(4px);
}

.HeaderTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderTitle img{
    max-height: 9vh;
}

.HeaderButton{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.HeaderButton>img{
    height: 4.5vh;
}

.HeaderButton:hover{
    background-color: rgba(0, 0, 0, 0.35);
}

@media (max-width: 768px) {

    header{
        display: grid;
        grid-template-columns: 70px 1fr 70px;
    }

    .HeaderTitle{
        grid-row: 1;
        grid-column: 2;
    }

    .HeaderButton{
        grid-row: 1;
        grid-column: 3;
    }
}