.Input-one{
    background-color:whitesmoke;
    width: 30vh;
    height: 37px;
    border-radius: 50px;
    padding: 0 10px;
}

 /* Specilly used for Firefox */
 input[type=number] {
    -moz-appearance: textfield;
  }
   /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }