.Itinerary-container{
    /* background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px); */
    /* background-color: rgba(0,0,0,0.85); */
    background-color: #181414ea;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 5vh;
    min-width: 290px;
    max-width: 800px;
    width: 100%;
    font-family: "Pangea Display,Helvetica,Arial,sans-serif";
}

.Itinerary-header{
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    justify-content: center;
    align-items: center;
}

.Itinerary-userInfo{
    text-align: center;
}

.Itinerary-username{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.Itinerary-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Itinerary-userInfo img{
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.Itinerary-userInfo p {
    font-size: 14px;
}

.Itinerary-price{
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.Itinerary-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    width: 100%;
}

.Itinerary-NotComment{
    text-align: center;
    padding: 2vh 0;
}

.Itinerary-button-comment {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.Itinerary-button-comment:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}
   
.Itinerary-button-comment:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.Itinerary-button-comment span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.Itinerary-button-comment:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

.Itinerary-NotComment span {
    font-size: 22px;
    font-family: cursive, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    animation: blur 3s linear infinite;
    line-height: 12px;
    transition: all 0.5s;
    letter-spacing: 0.1em;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blur {
    0%, 90% {
        filter: blur(0);
    }

    50% {
        filter: blur(10px);
    }
}

@media (max-width: 768px){
    
    .Itinerary-container{
        padding: 3vh;
        gap: 3vh;
    }

    .Itinerary-header{
        display: flex;
        flex-direction: column-reverse;
        gap: 1.5vh;
    }
    
    .Itinerary-userInfo{
        font-size: 15px;
    }
    
.Itinerary-userInfo img{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
}