.Input-container{
  width: 70%;
  min-height: 72vh;
  display: flex;
  justify-content: center;
}
.NewCity-form{
    background-color: #00000057;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35%;
    border-radius: 50px;
    margin: 60px 0;
    box-shadow: -0.2em 1em 0.4em rgba(0, 0, 0, 0.793);}
.Input-one{
  font-size: 20px;
}
.Title-form{
    font-variant: small-caps;
    font-style: italic;
    padding-bottom: 10px;
    margin-top: 20px;
}

.Inputs-form{
    margin: 10px 0 15px 50px;
}


.NewCity-fieldset{
    width: 50vh;
    align-self: flex-start;
    margin-left: 90px;
    border: none;
    padding: 20px 0;
    text-transform: capitalize;
}

#City{
    font-size: 20px;
}
#Country{
    max-width: 28vh;
    font-size: 20px;
}

#Population, #Fundation{
    width: 17vh;
    font-size: 20px;
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
}

.add-btn:hover {
  width: 140px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #06ba6c;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 16px;
  font-weight: bold;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #06ba6c;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}