.buttonNavBar{
    display: none;
}

@media (max-width: 768px) {
    .buttonNavBar{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        outline: none;
    }

    .buttonNavBar:hover{
        background-color: rgba(0, 0, 0, 0.35);
    }
    
}